.sidebar-logo {
  width: 7em;
  margin-left: 18px;
}
.adds-store {
  overflow: hidden;
  position: relative;
  top: 1em;
  left: 3.2em;
  width: 6em;
  height: 130em;
  background-color: white;
  color: red;
}

.cnnContents {
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
  transform: rotate(90deg);
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 300;
}

.marqueeStyle {
  display: inline-block;
  animation: scrolling 30s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
  }
  100% {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
  }
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
  .sidebar-logo {
    width: 4.2em;
    margin-left: 9px;
  }
  .sidenav-list {
    list-style: none;
    margin-left: -20px;
  }
  .nav-link {
    font-size: 13px;
  }
  .adds-store {
    width: 5em;
    left: 1.1em;
    height: 380em;
    top: 1em;
  }
  .cnnContents {
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .sidebar-logo {
    width: 5em;
    margin-left: 52px;
  }
  .sidenav-list {
    list-style: none;
    margin-left: 20px;
  }
  .nav-link {
    font-size: 22px;
  }
  .adds-store {
    width: 6em;
    left: 3.9em;
    height: 380em;
    top: 1em;
  }
  .cnnContents {
    font-size: 25px;
  }
}
